DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Legacy Next path
  RewriteRule ^Teqnowebs/?(.*)$ /$1 [R=301,L,NC]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.php [L]
</IfModule>
